#discord h1, h2, p
{
    opacity: 0;
    animation: FlyUp 0.5s ease, appear 0.5s ease forwards !important;
}

#discord h2 {
    animation-delay: 0.2s !important; 
}

#discord
{
    max-width: 100% !important;
}
  
#discord p {
    animation-delay: 0.4s !important;
}

#members h2
{
    animation-delay: 0.6s !important;
}

#members p{
    animation-delay: 0.8s !important;
}

#roles h2
{
    animation-delay: 1s !important;
}

#roles p{
    animation-delay: 1.2s !important;
}

#channels h2
{
    animation-delay: 1.4s !important;
}

#channels p{
    animation-delay: 1.6s !important;
}


.discord-loader{
    margin-top: 10px;
    height: 30px;
    width: auto;
}

#discord-info-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: grey 3px solid;
    background-color: #07112d1b;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 370px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0;
    animation: FlyUp 0.5s ease, appear 0.5s ease forwards !important;
    animation-delay: 0.4s !important;
}

.circle
{
    background-color: white;
    width: 5px;
    height: 5px;
    margin-left: 15px;
    margin-right: 8px;
    border-radius: 50%;
    transform: translateY(1px);
}

.online
{
    background-color: lightgreen;
}

.idle
{
    background-color: orange;
}

.dnd
{
    background-color: rgb(255, 0, 0);
}

.offline
{
    background-color: gray;
}

#discord-info-text span {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

#discord-info-text span{
    text-wrap: nowrap;
    font-size: 0.8rem;
}


#discord-info-text button {
    padding: 8px 12px;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#discord-info-text button:hover {
    background-color: #5a6eaa;
}

@media (max-width: 768px) {

    #discord-info-text {
        margin: auto;
    }

}