#photos h1, p
{
    opacity: 0;
    animation: FlyUp 0.5s ease, appear 0.5s ease forwards !important;
}

#photos h1 {
    animation-delay: 0.2s !important; 
}

#photos
{
    max-width: 100% !important;
}
  
#photos p {
    animation-delay: 0.4s !important;
}